.navbar-brand{
    color: red;
}

nav{
    a{
        color: red;
    }
}

.btn-1{
    width: 190px;
    height: 60px;
    border-color: red;
    color: black;
    background-color: #fff;
}

.section3{
    p{
        color: red;
    }
}